html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  text-align: left;
}

.logo {
 width: 100px; 
}

 
.bunny {
  background: #dc3232;
  padding: 2em;
  margin: 0em;
  border-radius: 0em;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  align-items: left;
}

.flag{
  width: 100%
}

footer {
  width: 50%;
  font-size: 0.8rem; 
  margin: auto;
  padding: 3em;
}

#countries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: left;
}

